<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List Page</title>
</head>
<body>
<th:block th:replace="navigator:: navigator_bar"/>
<h2>Book List Page</h2>

<a href="/book/add">Add Book</a>

<table>
    <tr>
        <th>Id</th> <!--porządkowa-->
        <th>Title:</th>
        <th>Type:</th>
        <th>Year published:</th>
        <th>Pages:</th>
        <th></th>
    </tr>
    <tr th:each="book,i : ${bookList}">
        <td th:text="${book.getId()}"></td>
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${book.getBookType()}"></td>
        <td th:text="${book.getYearPublished()}"></td>
        <td th:text="${book.getPages()}"></td>
        <td>
            <a th:href="@{'/book/remove?bookId='+${book.getId()}}">Remove</a>
        </td>
    </tr>
</table>
</body>
</html>