<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book form page</title>
</head>
<body>
<th:block th:replace="navigator:: navigator_bar"/>
<h2>Book form page:</h2>
<form action="/book/add" method="post" th:object="${dto}">
    Title:<input type="text" th:field="*{myBookTitle}">
    <br/>
    Year:<input type="text" th:field="*{yearWhenBookPublished}">
    <br/>
    Pages:<input type="text" th:field="*{numberOfPagesInBook}">
    <br/>
    Type:
    <select th:field="*{bookType}">
        <option th:each="opt : ${bookTypes}" th:text="${opt}" th:value="${opt}"></option>
    </select>
    <br/>

    <input type="submit">
</form>
</body>
</html>